.container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #007dd6;
}

.title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.mainInfo {
  display: flex;
  justify-content: space-evenly;
}

.general {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.generalTitle {
  font-size: 1.8rem;
  color: #e1dada;
  margin: 0.5rem;
}

.ulItem {
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.itemSpan {
  text-transform: uppercase;
}

.updateButton {
  align-self: center;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #6082b6;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  background-color: #fcf5e5;
}

.updateButton:hover {
  background-color: #ffffff;
}

.deleteButton {
  align-self: center;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #6082b6;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  background-color: #fcf5e5;
}

.deleteButton:hover {
  background-color: #e30b5c;
  color: #ffffff;
}

.medical {
  text-align: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.medicalTitle {
  font-size: 1.8rem;
  color: #e1dada;
  margin: 0.5rem;
}

.loader {
  margin: 0 auto;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
